server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
    gateway:
      routes:
        - id: user-service-auth
          uri: lb://user-service
          predicates:
            - Path=/api/auth/**
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
        - id: academy-service
          uri: lb://academy-service
          predicates:
            - Path=/api/academy/**
        - id: tourism-service
          uri: lb://tourism-service
          predicates:
            - Path=/api/tourism/**
        - id: guide-service
          uri: lb://guide-service
          predicates:
            - Path=/api/guide/**
        - id: mall-service
          uri: lb://mall-service
          predicates:
            - Path=/api/mall/**
        - id: creative-service
          uri: lb://creative-service
          predicates:
            - Path=/api/creative/**
        - id: social-service
          uri: lb://social-service
          predicates:
            - Path=/api/social/**
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
